body{
    background-color: darkgreen;
    font-family: 'Lucida Sans';
}
label{
    color:cadetblue;
}
img{
    display: inline;
}
.center{
    text-align: center;
}
li{
    padding-top: 0;
    padding-bottom: 4%;
}
ul{
    list-style: inside;
}
#List{
    background-color: darkgreen;
    font-family:'Lucida Sans';
    text-align: center;
    align-content: center;
}